.venv
kb.md
customer_support_tickets.csv
.env
backend/results/
**/__pycache__/
head_info.txt
pip_log.txt
pkl_info.txt
test_output.txt
pkl_info2.txt
support_ticket_training.ipynb
archive.zip
customer_support_tickets.csv.zip
customer_support_5k.csv
Data/Raw_Data/kb.md
end_cell.py


